<div class="hed">
  <ul>
    <li>
      <a routerLink="/Home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/Home" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/Home" routerLinkActive="active">Contacts</a>
    </li>
    <!--<input type="text" placeholder="search">-->
    <li>
      <a routerLink="/Home" routerLinkActive="active">Projects</a>
    </li>
  </ul>
</div>

<div>
  <img class="det" src="https://images.pexels.com/photos/34950/pexels-photo.jpg?cs=srgb&dl=abandoned-forest-industry-34950.jpg&fm=jpg">
  <img class="det" src="https://images.pexels.com/photos/34950/pexels-photo.jpg?cs=srgb&dl=abandoned-forest-industry-34950.jpg&fm=jpg">
  <img class="det" src="https://images.pexels.com/photos/34950/pexels-photo.jpg?cs=srgb&dl=abandoned-forest-industry-34950.jpg&fm=jpg">
</div>

<div class = "ali">
  <div class="pa">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</div>
  <div class="pa">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</div>
  <div class="pa">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</div>
</div>

<section class="sec">
  <div>
    <h1>Welcome to  OLIVE Technology</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum
    </p>
  </div>
  <div>
    <h1>Here is news about</h1>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
  </div>
</section>
<section class="sec">
  <div>
    <h1 style="text-align: center">Follow us</h1>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-google" aria-hidden="true"></i>
  </div>
</section>
<section class="sec">
  <div>
    <h1>Welcome to  OLIVE Technology</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum
    </p>
  </div>
  <div>
    <h1>Here is news about</h1>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
  </div>
</section>

